Temp/
Undertale-test.userprefs
Assembly-UnityScript.pidb
Undertale-test-csharp.sln
Undertale-test.sln
src/Library/guidmapper
src/Library/assetDatabase3
src/Library/ScriptAssemblies/
src/Library/metadata/
src/Library/cache/
src/Library/assetDatabase3
src/Library/guidmapper